html {
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
}

header {
    text-align: left;
    background-color: rgb(102, 197, 153);
    padding: 1%;
}

header img {
    position:absolute;
    top: 10;
    padding: auto;
}

header h1 {
    position:relative;
    top: 2.5%;
    left: 12%;
}

header h2 {
    position:relative;
    top: 8%;
    left: 12%;
}
